<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletFrontController</servlet-name>
        <servlet-class>presentationLayer.ServletFrontController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInputHus</servlet-name>
        <servlet-class>presentationLayer.ServletInputHouse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletNewCalculation</servlet-name>
        <servlet-class>presentationLayer.ServletNewCalculation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPlaceOrder</servlet-name>
        <servlet-class>presentationLayer.ServletPlaceOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletShowOrdersUser</servlet-name>
        <servlet-class>presentationLayer.ServletShowOrdersUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletShowStykliste</servlet-name>
        <servlet-class>presentationLayer.ServletShowStykliste</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogout</servlet-name>
        <servlet-class>presentationLayer.ServletLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletShowOrdersEmp</servlet-name>
        <servlet-class>presentationLayer.ServletShowOrdersEmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSetSent</servlet-name>
        <servlet-class>presentationLayer.ServletSetSent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBackToAdmin</servlet-name>
        <servlet-class>presentationLayer.ServletBackToAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletFrontController</servlet-name>
        <url-pattern>/ServletFrontController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInputHus</servlet-name>
        <url-pattern>/ServletInputHus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletNewCalculation</servlet-name>
        <url-pattern>/ServletNewCalculation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPlaceOrder</servlet-name>
        <url-pattern>/ServletPlaceOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletShowOrdersUser</servlet-name>
        <url-pattern>/ServletShowOrdersUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletShowStykliste</servlet-name>
        <url-pattern>/ServletShowStykliste</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogout</servlet-name>
        <url-pattern>/ServletLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletShowOrdersEmp</servlet-name>
        <url-pattern>/ServletShowOrdersEmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSetSent</servlet-name>
        <url-pattern>/ServletSetSent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBackToAdmin</servlet-name>
        <url-pattern>/ServletBackToAdmin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
